## SvenCo-op map CFG file - Operation Retribution opr1a2
## Map Author: SoBek SoBek@sobek.cjb.net
## Operation Retribution Web site: SoBek.cjb.net
## Operation Retribution Copyright © 1999. All rights reserved. 

weapon_mp5
weapon_shotgun
weapon_glock
weapon_grenade
weapon_uzi
ammo_9mm 150
ammo_buckshot 30


skill 2

mp_multiplespawn 1

mp_radiovoice 1

mp_disablegaussjump 0

mp_monsterpoints 1

mp_timelimit 0

mp_fraglimit 0

## File with list of maps to cycle through, in order
mapcyclefile mapcycle.txt

mp_flashlight 1

mp_falldamage 1

mp_forcerespawn 0

## Setting of 0 makes weapons disappear after they're picked up
## Weapons will respawn after a while, like ammo does.
mp_weaponstay 0

## Physics stuff. 
## Don't change unless you know what Ur doing!
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
mp_disable_autoclimb 1